# ONE Dimanasion array

In [1]:
# import library
import numpy as np

In [2]:
#array making
a=np.array([3,3,3])
a

array([3, 3, 3])

In [3]:
# type of data
type(a)

numpy.ndarray

In [4]:
# lenght find
len(a)

3

In [5]:
# indexing of array
a[2]

3

In [6]:
# Create array with ones
q=np.ones(3)
q

array([1., 1., 1.])

In [7]:
# create an Array with zeros
w=np.zeros(6)
w

array([0., 0., 0., 0., 0., 0.])

In [8]:
# create an array with empty
e=np.empty(5)
e

array([2.22520627e-307, 2.67022953e-307, 1.61324306e-307, 3.56035584e-307,
       4.00535703e-307])

In [9]:
# Create an array with range
r=np.arange(8)
r

array([0, 1, 2, 3, 4, 5, 6, 7])

In [10]:
# with specific range
t=np.arange(3,16)
t

array([ 3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15])

In [11]:
# cREATE CONTINEW
u=np.arange(4,23,3)
u

array([ 4,  7, 10, 13, 16, 19, 22])

In [12]:
# same difference 
s=np.linspace(12,19,num=3)
s

array([12. , 15.5, 19. ])

# TWO Dimanasion array

In [13]:
#array making
b=np.array([[3,3,3],[2,2,2],[5,5,5]])
b

array([[3, 3, 3],
       [2, 2, 2],
       [5, 5, 5]])

In [14]:
# type of data
type(b)

numpy.ndarray

In [15]:
#Create an array with row and colum
s=np.ones((3,4))
s

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [16]:
#Create an array with row and colum
y=np.zeros((3,4))
y

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

# THREE Dimanasion array

In [17]:
# making array 
j=np.arange(24).reshape(2,3,4)
j

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]]])